import keystoneclient
from keystoneclient.v2_0 import client

def add_service_endpoint(key, name, description, type, url):
  """Add the Monasca service to the catalog with the specified endpoint, if it doesn't yet exist."""
  service_names = { service.name: service.id for service in key.services.list() }
  if name in service_names.keys():
    service_id = service_names[name] 
  else:
    service=key.services.create(name=name, service_type=type, description=description)
    service_id = service.id
 
  for endpoint in key.endpoints.list():
    if endpoint.service_id == service_id:
      return

  key.endpoints.create(region="RegionOne", service_id=service_id, publicurl=url, adminurl=url, internalurl=url)

key = client.Client(token='{{ keystone_admin_token }}', endpoint='{{ keystone_url }}')
add_service_endpoint(key, 'monasca', 'Monasca monitoring service', 'monitoring', '{{ monasca_api_url }}')
